
.hero-section {
    margin-top: -220px;
    height: 100vh; /* Full viewport height */
    color: #ffffff;
    text-align: center;
    overflow: hidden; /* Ensure content doesn't overflow */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */

  }

/* Overlay effect for the hero image */
.hero-overlay {
    position: absolute;
    background-image: url('sm-hero-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark overlay for text visibility */
    z-index: 1;
}

/* Hero content styling with limited height */

.hero-content-img {
    position: absolute;
    bottom: 315px; /* Position a bit above the bottom */
    left: 0px;
    width: 400px;
    color: #ee537f;
    z-index: 2;
    overflow-y: auto; /* Allows scrolling if text content is too large */
}



.hero-content {
    position: absolute;
    bottom: 0px; /* Position a bit above the bottom */
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100vh - 150px); /* Ensure content doesn’t exceed viewport, adjust as needed */
    width: 100%;
    background-color: #283924ec; /* Dark green background */
    padding: 100px;
    color: #ee537f;
    z-index: 2;
    overflow-y: auto; /* Allows scrolling if text content is too large */
}
/* Hero title styling */
.hero-title {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: inherit; /* Inherit color from parent */
}

@media (max-height: 1200px) {
    .hero-content-img {
        position: absolute;
        bottom: 320px; /* Position a bit above the bottom */
        left: 0px;
        height: 35vh;
        width: auto;
        color: #ee537f;
        z-index: 2;

}

@media  (max-width: 767px) {
    .hero-title {
        font-size: 2rem;
    }
    .hero-content-img {
        position: absolute;
        bottom: 260px; /* Position a bit above the bottom */
        left: 0px;
        width: 200px;
        height: auto;
        color: #ee537f;
        z-index: 2;
        overflow-y: auto; /* Allows scrolling if text content is too large */
    }
    .hero-content {
        padding: 30px;
        height: 260px;
        overflow-x: hidden;
        overflow-y: hidden;

    }
    .hero-subtext {
        height: 105px;
    }
  }




/* Hero subtext styling with margin adjustments */
.hero-subtext {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 1rem;
    color: inherit; /* Inherit color from parent */
    margin-bottom: 10px; /* Add some bottom margin to create space */
}
